* {
    margin :0;
    padding :0;
    font-family : 'Avenir Next';
}

.container {
    width: 100%;
    height: max-content;
    padding-bottom: 30px;
    background: #42455a;
}

.menu ul{
    display:inline-flex;
    margin:50px;
}
.menu a{
  text-decoration: none;
  color:  #b2b1b1;
}
.menu li{
list-style: none;
margin:0 20px;
font-size: 17px;
float: left;
cursor: pointer;
}
.menu i{
  color: white;
}

.active {
    color: #19dafa !important;
}

.login {
    top:40px;
    right:80px;
    position: absolute;
    text-decoration: none;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#42455a,#42455a) , radial-gradient(circle at top left,#fd00da,#19d7f8);
    background-clip: content-box , border-box;
    background-origin: border-box;
}
.login span {
    display:block;
    padding: 8px 22px;
}
.icon-bar {
  height:fit-content;
  width: fit-content;
  position: sticky;
  top: 40%;
    bottom: 50%;
  background-color: #555;
  
}

.icon-bar a {
  display: block;
  padding-left: 5px;
  padding-right: 5px;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
  padding-bottom: 20px;
}

.icon-bar a:hover {
  background-color: #000;
  height: fit-content;
  /* padding-bottom: 60px; */
}
.icon-bar i{
    font-size: 20px;
    margin-top: 20px;
    text-align: left;
}

.active-1 {
  background-color: #4bd589;
}
.image{
  margin-top: -6.5cm;
}
.banner {
    width:80%;
    height: 70%;
    top:25%;
    left:130px;
    position: absolute;
    color:#fff;
}

.intro-text {
    width:50%;
    float:left;

}
.intro-text h1 {
    font-size: 45px;
    width:640px;
    position:relative;
    margin-left: 40px;
}

.intro-text p {
    font-size: 15px;
    width:650px;
    position:relative;
    margin: 30px 0 30px -20px;
    line-height: 25px;
    color: #919191;
}
.image {
    width:50%;
    float:right;
}

.image img {
    width:90%;
    margin-left:10px;
    margin-top: 20px;
    margin-bottom: 2cm;
}
.grid-container {
    width:100%;
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 4cm;
  }
.rugby{
    width: 25%;
    height: 400px;
    border: 2px solid red;
    position: absolute;
    margin-top: -50px;
    margin-left: 40px;
}

.rugby img{
    width:100%;
}
.grid-item {
    margin-top:20px ;
  width: 100%;
  font-size: 30px;
  text-align: center;
  font-size: 12px;
}
.grid-item img{
  margin-left: 20%;
    display: block;
    width:auto;
    border: 2px solid transparent;
    border-radius: 70px 0px;
}
.grid-item h1 {
    font-weight: normal;
    margin-left: 20%;
    color: white;
    text-align: left;
    padding: 10px;
    
}
.grid-item a{
text-decoration: none;
}
.footer{
  height: 10cm;
  width: auto;
  padding-left: 200px;
  color:rgb(255, 255, 255);
  line-height: 20px;
  padding-top: 20px;
  font-size: 12px;
  background-color: #1E1E1E;
  position: relative  ;
}
.footer-content{
  font-size: 12px;
  height: 100px;
  width: 12cm;
  margin-top: 100px;
  float: left;
} 
.Get-connected{
height: 5cm;
width: 5cm;
float: right;
margin-top: 100px;
margin-right: 10%;
}
.Contact-us{
float: right;
height: 100px;
width: 5cm;
margin-right: 15%;
margin-top: 100px;
}
.footer hr{
  margin-top: 300px;
  width:80%;
  border-top: 0.7pt solid white;
  opacity: 0.4;
}